:root {
  //track
  --track-size-s: 200px;
  --track-size-m: 225px;
  --track-size-l: 250px;
  --track-size-xl: 275px;
  //thumb
  --thumb-size-s: 20px;
  --thumb-size-m: 25px;
  --thumb-size-l: 30px;
  --thumb-size-xl: 35px;
  //colors
  --color-first: #228be6;
  --color-second: rgba(128, 128, 128, 0.175);
  --color-tooltip: rgba(0, 0, 0, 0.685);
}
